.qhn-loading{
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
}


.qhn-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: lightblue;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 9999;
    opacity: .5;
}

.loader_ajax_small {
    border: 3px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    -webkit-animation: spin_loader_ajax_small 2s linear infinite;
    animation: spin_loader_ajax_small 2s linear infinite;
}


/**
    autocomplete input
 */

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/***
    custom css select2
 */

.select2-selection__rendered {
    line-height: 33px !important;
}
.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-selection__arrow {
    height: 35px !important;
}

.qhn-center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qhn-cus-box {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 5px 1px;
    padding: 5px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    min-height: 100px;
}

.qhn-btn-margin-top {
    margin-top: 17px;
}

@media only screen and (max-width: 900px)  {
    .qhn-btn-create-data{
        margin-bottom: 10px;
    }
    .qhn-input-search {
        width: 100px !important;
    }
}


#tech-companies-1 > tbody > tr > td {
    vertical-align: inherit;
}
